<div class="container">
  <div class="row d-flex justify-content-center my-5 py-5">
    <mat-card class="col-sm-6">
      <mat-card-header>
        <mat-card-title>
          <h2>Professional Summary</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="p-3">
          <li>I'm a Full Stack Developer with 8 years of experience.</li>
          <li>
            Acquired skills in Java, Spring, Spring Boot, Angular & Bootstrap.
          </li>
          <li>Exposure to Cloud & Microservices.</li>
        </ul>
        <mat-card-actions>
          <mat-action-list class="row d-flex justify-content-end">
            <div class="col-4 d-flex justify-content-end">
              <div class="col-4">
                <a href="mailto:aswin.sankaranarayanan@gmail.com">
                  <img
                    class="w-75 img img-thumbnail"
                    src="../../../assets/gmail.png"
                /></a>
              </div>
              <div class="col-4"><a target="_blank" href="https://www.linkedin.com/in/aswin-sankarananrayanan/">
                <img
                  class="w-75 img img-thumbnail"
                  src="../../../assets/linkedin.png"
              /></a></div>
            </div>

          </mat-action-list>
        </mat-card-actions>
      </mat-card-content>

    </mat-card>
  </div>
</div>
