<div class="container" *ngIf="!loading">
  <div class="row d-flex justify-content-center my-5 py-5">
    <mat-card class="col-sm-6">
      <mat-card-header>
        <mat-card-title>
          <h2>Professional Summary</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="p-3" >
          <li *ngFor="let userDescription of user?.userDescriptions">{{ userDescription['description'] }}</li>
        </ul>
        <mat-card-actions>
          <mat-action-list class="col-12">
            <div class="d-flex justify-content-end">
              <div class="col-6 d-flex justify-content-end">
                <div class="col-3">
                  <a href="mailto:{{user.email}}">
                    <img
                      class="img img-thumbnail"
                      src="../../../assets/gmail.png"
                  /></a>
                </div>
                <div class="col-3">
                  <a target="_blank" href="{{user?.linkedinProfile}}">
                  <img
                    class="img img-thumbnail mx-1"
                    src="../../../assets/linkedin.png"
                /></a>
              </div>
              </div>

            </div>
          </mat-action-list>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
</div>
