<div class="container my-5" *ngIf="!loading">
  <div class="row d-flex justify-content-center ">
    <mat-card class="col-sm-10 col-xs-12">
      <mat-card-header>
        <h2>Experience</h2>
        <hr/>
      </mat-card-header>
      <mat-card-content>
        <mat-stepper orientation="vertical">
          <mat-step *ngFor="let experience of experiences">
            <ng-template matStepLabel>{{ experience.companyName}} : {{ experience.duration }}</ng-template>
           <div *ngFor="let project of experience.projects">
            <p><strong>Project:</strong> {{ project.projectName }}</p>
            <p>
              <strong>Description: </strong>
              {{ project.projectDescription}}
            </p>
            <div *ngIf="project.roles.length>0">
              <strong>Roles & Responsibilities:</strong>
            <ul>
                <li *ngFor="let role of project.roles">
                   {{ role.description }}
                </li>
            </ul>
          </div>
           </div>

           </mat-step>
        </mat-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
